<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
		<title>Big Boy Games</title>
	</head>

	<body>
		<img src="{{url_for('static', filename='logo.png')}}" alt="bbg" id="logo">
		<ul id="login">
			<li> <a href="{{url_for('login')}}">Login</a></li>
			<li><a href="{{url_for('signup')}}">Sign up</a></li>
		</ul>
		<header>
			<div id="welcome">
				<h1>All Games!</h1>
				<marquee></marquee>
			</div>
		</header>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">

		    </div>
		    <ul class="nav">
		      <li><a href="{{url_for('home')}}">Home</a></li>
		      <li id="active"><a href="{{url_for('games')}}">Games</a></li>
		      <li><a href="{{url_for('about')}}">About</a></li>
		    </ul>
		  </div>
		</nav>


		<div id="featured" class="container">
			<div class="content">
				<div class="col-md-12">
					<h2>Blackjack!</h2>
					<img id="blackjack" src="{{url_for('static', filename='blackjack.jpg')}}" alt="Cards">
					<a href="{{url_for('blackjack')}}"><button type="button" name="play">Play!</button></a/>


				</div>
			</div>

		</div>
<!--
			<div class="row">
				<div class="featuredItem">
					<h3>premium sporks</h3>
					<div class="featuredImg">
						<img alt ="premium sproks" src="images/sporks.jpg">
					</div>
					<p>set the table in style</p>
					<br class="clearfix" />
				</div>
				<div class="col-md-4">
                <div class="featuredItem">
                    <h3>milk (1 pint)</h3>
                    <div class="featuredImg">
                        <img src="images/milk.jpg" alt="milk" />
                    </div>
                    <p>A lovely pint of milk.</p>
                    <br class="clearfix" />
                </div>
            </div>


			</div>
-->
		</div>
	</body>
	<footer id='footer' class="footer">
		<div id="foot">
				<p>Copyright 2020</p>
				<p><a href="x.html"><i>Big boy games</i>: Contact us | About us</a></p>

		</div>
	</footer>
	</html>
