<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
		<title>Big Boy Games</title>
	</head>

	<body>
		<img src="{{url_for('static', filename='logo.png')}}" alt="bbg" id="logo">
		<ul id="login">
			<li> <a href="{{url_for('login')}}">Login</a></li>
			<li><a href="{{url_for('signup')}}">Sign up</a></li>
		</ul>
		<header>
			<div id="welcome">
				<h1>login to your account</h1>
				<marquee>Deposit and withdraw after you login!</marquee>
			</div>
		</header>

		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">

		    </div>
		    <ul class="nav">
		      <li><a href="{{url_for('home')}}">Home</a></li>
		      <li><a href="{{url_for('games')}}">Games</a></li>
		      <li><a href="{{url_for('about')}}">About</a></li>
		    </ul>
		  </div>
		</nav>

		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-4">
						<form method=POST action="{{ url_for('login') }}">
							<div class="form-group">
								<label for="exampleInputEmail1">Username</label>
								<input type="text" class="form-control" name="username" placeholder="Username">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Password</label>
								<input type="password" class="form-control" name="pass" placeholder="Password">
							</div>
							<button type="submit" class="btn btn-primary btn-block">Log In</button>
						</form>
						<br>
						<div>
							Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a>.
						</div>
					</div>
				</div>
			</div>
		</div>


	</body>
	<footer id='footer' class='footer'>
		<div id="foot">
				<p>Copyright 2020</p>
				<p><a href="x.html"><i>Big boy games</i>: Contact us | About us</a></p>

		</div>
	</footer>
	</html>
